:root {
    --color-fff: #fff;
    --color-000000: #000000
    --color-111111: #111111;
    --color-d4af36: #d4af36;
    --color-F5F5F5: #f5f5f5;
    --color-949494: #949494;
    --color-BFBFBF: #bfbfbf;
    --color-8F6B45: #8f6b45;
    --color-C7A77F: #c7a77f;
}

.page-template-lost-password,
.page-template-restore-password {
    .restore-pasword-done {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .close-lost-password {
            position: absolute;
            top: 0;
            left: -16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--color-111111);
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2em;
            letter-spacing: 0.01em;
            text-align: center;
            text-decoration: none;
            outline: none;
        }
    }

    .lost-password-wrap {
        .logo-bar {
            position: relative;
            .close-lost-password {
                position: absolute;
                top: 0;
                left: -16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: var(--color-111111);
                font-size: 14px;
                font-weight: 600;
                line-height: 1.2em;
                letter-spacing: 0.01em;
                text-align: center;
                text-decoration: none;
                outline: none;
            }
        }
        .auth-field {
            position: relative;
            margin: 0 0 24px 0;
            input {
                padding-inline-start: 50px;
                background: transparent;
                box-shadow: none;
                outline: none;
                text-align: left;
                direction: rtl;

                &:focus {
                    background: transparent !important;
                    border: 1px solid var(--color-d4af36);
                    &::placeholder {
                        opacity: 1 !important;
                    }
                }
            }
            .input-info {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 17px;
                font-weight: 400;
                line-height: 1.4em;
                opacity: 0.4;
                color: var(--color-000000);
                cursor: pointer;
            }
        }

        .button-grey {
            background: var(--color-F5F5F5);
            color: var(--color-949494);
            font-size: 17px;
            font-weight: 500;
            line-height: 1.4em;
            text-align: center;
            border: 1px solid var(--color-BFBFBF);
            border-radius: 4px;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            font-size: 1.25rem;
            height: 44px;
            line-height: 44px;
            margin: auto;
            padding: 0 32px;
            text-decoration: none;
            width: 217px;
            transition: all 200ms linear;
            outline: none;

            &:hover {
                border: 1px solid var(--color-111111);
                background-color: var(--color-8F6B45);
                color: var(--color-fff);
            }
        }

        .button-black {
            background: var(--color-111111);
            color: var(--color-fff);
            font-size: 17px;
            font-weight: 500;
            line-height: 1.4em;
            text-align: center;
            border: 1px solid var(--color-111111);
            border-radius: 4px;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            font-size: 1.25rem;
            height: 44px;
            line-height: 44px;
            margin: auto;
            padding: 0 32px;
            text-decoration: none;
            width: 217px;
            transition: all 200ms linear;
            outline: none;
        }

        .send-note {
            .img-wrap {
                svg {
                    display: block;
                    margin: 0 auto;
                }
            }

            .lost-password {
                font-size: 14px;
                font-weight: 600;
                line-height: 11.4em;
                letter-spacing: 0.01em;
                a {
                    color: var(--color-C7A77F);
                    text-decoration: none;
                }
            }
        }
    }
    .title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.1em;
        text-align: center;
        color: var(--color-111111);
        margin-bottom: 8px;
    }
    .description {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.6em;
        text-align: center;
        color: var(--color-111111);
        margin-bottom: 16px;
    }
}
